.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.posts {
  background-color: white;
  border: 1px;
  border-radius: 5px;
  height: 150px;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  width: 75%;
}

.posts:hover,
.posts:focus,
.posts:active {
  box-shadow: 0px 10px 5px 0px rgba(214,214,214,1);
  -webkit-box-shadow: 0px 10px 5px 0px rgba(214,214,214,1);
  -moz-box-shadow: 0px 10px 5px 0px rgba(214,214,214,1);
  color: #0070f3;
  border-color: #0070f3;
}

.posts h3 {
  margin: 0 0 1rem 0;
}

.posts p {
  margin: 0;
  line-height: 1.5;
}

.logo {
  height: 1em;
}