.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container img{
    max-width: 100%;
}

.headerInformations{
    color: grey;
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}


.post{
    background-color: white;
    margin: 1rem;
    text-align: left;
    width: 75%;
}

.post h1,
.post h2,
.post h3,
.post span,
.post p {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}